# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.bnb'
'name': 'BNB'
'fileTypes': [
  'bnb'
]
'patterns': [
  {
    'match': '^\\s*//.*$'
    'name': 'comment'
  },
	{
    'match': '(!)+(.+)*$'
    'name': 'support.function'
  },
	{
    'name': 'keyword.operator'
    'match': '(@)+(.+)*$'
  },
	{
    'comment': 'standard functions'
    'name': 'support.class'
    'match': '\\b(camera|sound|music|scene|parallel|sequence|instantiate|moveTo|anim|wait|say|prompt|loop|trigger|emit)\\b'
	},
	{
    'comment': 'keywords that describe camera controls'
    'name': 'keyword.control'
    'match': '\\b(blackout|fadeout|fadein|centre|center)\\b'
  },
	{
    'comment': 'keywords used in animations and sounds'
    'name': 'punctuation.separator'
    'match': '\\b(once|repeat)\\b'
  },
	{
    'comment': 'keywords used in scene operations'
    'name': 'support.function.console'
    'match': '\\b(removeroof)\\b'
  }
]
