# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/
name: 'BNB'
scopeName: 'source.bnb'

comments:
  start: '// '

scopes:
  'program': 'source.bnb'

  '"camera"': 'keyword.control'
  '"!"': 'keyword.control'
  '"sound"': 'keyword.control'
  '"music"': 'keyword.control'
  '"scene"': 'keyword.control'
	'"parallel"': 'keyword.control'
	'"sequence"': 'keyword.control'
	'"@"': 'keyword.control'
	'"instantiate"': 'keyword.control'
	'"moveTo"': 'keyword.control'
	'"anim"': 'keyword.control'
	'"wait"': 'keyword.control'
	'"say"': 'keyword.control'
	'"prompt"': 'keyword.control'
	'"loop"': 'keyword.control'
